* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  height: 100vh;
}

h1 {
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .App {
    max-width: 100vw;
  }
}
